.pure-menu.pure-menu-open.pure-menu-vertical
  %ul
    - if user
      %li= link_to("Dashboard", '/dashboard')

      - if @notifications
        %li.pure-menu-heading Notifications
        - @notifications.each do |notifications|
          %li= link_to(notifications.name, "##{notifications.name}")

      %li.pure-menu-heading Actions
      %li= link_to("Clean", '/dashboard/clean', method: :delete)
      %li= link_to("Purge", '/dashboard/purge', method: :delete)
      %li= link_to("Sign out", '/sessions/logout')
    - else
      %li= link_to("Sign in", '/sessions/login')
