%html
  %head
    %title HomeIO
    = javascript_include_tag 'jquery-2.0.3.min'
    = javascript_include_tag 'jquery-ujs'
    = javascript_include_tag 'jquery-ui-1.10.4.custom.min'
    = javascript_include_tag 'jquery.flot.min.js'
    = javascript_include_tag 'compiled/applications.js'
    = stylesheet_link_tag "pure-min"
    = stylesheet_link_tag "application"
  %body
    .pure-g-r
      .pure-u-1-5
        .pure-g-r
          .pure-u-4-5.menu-layout
            = render("layouts/_menu", layout: false)
          .pure-u-4-5
      .pure-u-3-5
        %h1
          = link_to "HomeIO", "/"
        %hr
        = yield
      .pure-u-1-5
